<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
    <head>
        <meta charset="utf-8">
        <title>Control de est</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body style="padding-bottom: 15%;">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-fixed" style="width: 100%;">
        <a class="navbar-brand" href="/index">Profesor</a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/adm_est">Administrar estudiante</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/adm_curso">Administrar curso</a>
            </li>
            

          </ul>
          
        </div>
        <a class="float-right" href="/">Cerrar sesion</a>
        
      </nav>
      <div style="padding-top: 5%;">
          <br>
          <h1 class="text-center">Bienvenido profesor</h1>  
          <h5 class="text-center">Administrar estudiante</h5>
          <br>
        </div>
        <div class="container text-center"  >
          <form class="form-inline " th:action="@{/index}">
            <div class="form-group mb-2">
              <label>Filtrar</label>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <input type="text" name="keyword" class="form-control" id="keyword" th:value="${keyword}" placeholder="que desea buscar?" required>
            </div>
            <input type="submit" class="btn btn-info mb-2" value="Buscar">
            &nbsp;&nbsp;
            <input type="button" class="btn btn-secondary mb-2" value="Limpiar" onclick="clean()"> 
          </form>
          <br><br>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Nota</th>
                    <th scope="col">password</th>
                  </tr>
                </thead>
                <tbody>
                    <tr th:each="estudiante : ${listaest}">
                      <td th:text="${estudiante.id}"></td>
                      <td th:text="${estudiante.correo}"></td>
                      <td th:text="${estudiante.curso}"></td>
                      <td th:text="${estudiante.nombre}"></td>
                      <td th:text="${estudiante.nota}"></td>
                      <td th:text="${estudiante.password}"></td>
                      <td>
                        <a class="btn btn-primary" th:href="@{'/editar/' + ${estudiante.id}}" >Editar</a>
                        <a class="btn btn-danger" th:onclick="eliminar([[${estudiante.id}]])" >Eliminar</a>
                      </td>
                    </tr>
                  </tbody>
              </table>
        </div>
        <script src="/sweetalert.min.js"></script>
        <script src="/funciones.js"></script>
        <script src="/jquery-3.6.1.js"></script>
    </body>
    <footer class="bg-dark text-center text-white position-fixed" style="width: 100%;position: relative;bottom: 0%;" >
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 :
        <a class="text-white" href="">Todos los derechos reservados</a>
      </div>
    </footer>
</html>