<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
    <head>
        <meta charset="utf-8">
        <title>estudiante</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          
        <a class="navbar-brand" href="/est">Estudiante</a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="/tut">Ver tutoriales</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link" href="/nota">Ver nota</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nota">Matricularse</a>
            </li>  
          </ul>  
        </div>
        <a class="float-right" href="/">Cerrar sesion</a>
    </nav>
        <div>
          <h2 class="text-center" style="padding-top: 2%;">¿En cuál curso desea matricularse?</h2>
        </div>
        <div class="container-fluid" id="main-content">
          <div class="container">
            <form action="">
              <div class="row" style="padding-bottom: 8%;">
                <div class="form-check" style="padding-left: 36%; padding-right: 3%; padding-top: 5%;">
                  <input type="radio" class="form-check-input col-500"  id="radio1" name="optradio" value="option1" checked>
                  <label class="form-check-label" for="radio1">Pintura</label>
                </div>
                <div class="form-check" style="padding-left: 3%; padding-right: 3%; padding-top: 5%;">
                  <input type="radio" class="form-check-input col-500"  id="radio2" name="optradio" value="option2" checked>
                  <label class="form-check-label" for="radio2">Cerámica</label>
                </div>
                <div class="form-check" style="padding-left: 3%; padding-right: 3%; padding-top: 5%;">
                  <input type="radio" class="form-check-input col-500"  id="radio3" name="optradio" value="option3" checked>
                  <label class="form-check-label" for="radio3">Fotografía</label>
                </div> 
              </div>
              <button type="submit" class="btn btn-success" style="    position: relative;
              font-size: 14px;
              left: 44%;">Matricularse</button>
            </form>
          </div>
            
          </div>
        
        
        
    </body>
    <footer class="bg-dark text-center text-white position-fixed" style="width: 100%;position: relative;bottom: 0%;" >
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 :
        <a class="text-white" href="">Todos los derechos reservados</a>
      </div>
    </footer>
</html>